*, h4, h5, h6, h2, h1, h3 {
  font-family: 'Raleway', sans-serif;
}
body {
  background-color: #f5f5f5;
}
.no-margin {
  margin: 0 !important;
}
h4 {
  color: #5b657c;
  font-size: 28px;
}
h6 {
  color: #5b657c;
  font-size: 14px;
}
h5, .total {
  color: #5b657c;
  font-size: 22px;
}
.no-padding {
  padding: 0 !important;
}
.color-bar {
  background-color: #000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  padding: 0;
}
li {
  margin-bottom: 10px;
  font-size: 12px;
  color: #8a92a5;
}
p {
  color: #8a92a5;
}
.navbar {
  border-radius: 0;
  color: #FFF;
}
.indexes {
  color: #FFF;
}
.index {
  margin-bottom: 50px;
  font-size: 10px;
}
.index span{
  margin-right: 10px;
}
.index .col-xs-2 {
  float: none;
}
#status{

}
.section {
  border-bottom: 1px solid #ccc;
  clear: both;
  text-align: center;
}
.courses {
  text-align: center;
}
.courses-wrapper {
  margin: 0 auto;
}
.statbox {
 background-color: #fafafa;
 border-top: 1px solid #e8e8e8;
 padding-top: 12px;
 padding-bottom: 12px;
 margin: 0;
}
.flex-wrap {
  height: 100px;
  display: table;
  width: 100%;
}
.flex-wrap h4 {
  font-size: 20px;
}
.flex-content {
  display: table-cell;
  vertical-align: middle;
}
.statbox p {
  color: #999;
  font-size: 18px;
  text-align: center;
  font-weight: 800;
  line-height: 1;
}
.subject .subject-inner {
  margin-bottom: 10px;
  height: 220px;
}
.courses .col-sm-12, .subject .col-sm-12 {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #d1d1cf;
  border-top-color: #eaeaee;
  position: relative;
}
.subject .col-sm-12 h4 {
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0;
  text-align: center;
}
hr {
  background-color: #CCC;
  border-color: #CCC;
  color: #CCC;
}
.course-detail {
  clear: both;
  margin-top: 50px;
}
.navbar-header {
  width: 100%;
}
.logout {
  padding: 15px 15px;
  text-align: right;
}
.logout span {
  border-right: 1px solid #FFF;
  padding-right: 10px;
}
.logout a{
  color: #FFF;
  padding-left: 10px;
  font-size: 14px;
}
.form-signin, .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signup .form-signup-heading,
.form-signin .checkbox, .form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox, .form-signup .checkbox{
  font-weight: normal;
}
.form-signin .form-control, .form-signup .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus, .form-signup .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"], .form-signup input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"], .form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .btn, .form-signup .btn  {
  margin-bottom: 10px;
}
.table-striped td {
  font-size: 12px;
  border: 1px solid #eee;
}
